 * {
    box-sizing: border-box;
 }

 body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
 }

 h1 {
    margin-bottom: 50px;
 }

 .lampada-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
 }

 
 .lampada {
    width: 150px;
    height: 150px;

    background-color: #555;
    border-radius: 50%;

    box-shadow: 0 0 10px #000;

    transition: 0.3s;
 }

 .lampada.ligada{
    background-color: yellow;

    box-shadow: 
        0 0 20px yellow,
        0 0 40px yellow,
        0 0 80px yellow;
 }

 #interruptor { 
    width: 120px;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: #444;
    color: white;

    font-size: 18px;

    cursor: pointer;
 }

 #interruptor:hover{
    background-color: #666;
 }